<div class="alert alert-success text-center">
  <strong>Your request with ID <%= @form.id %> has been sent!</strong>
  We are waiting for you on <%= Date.tomorrow %>
</div>

<%= link_to "<< Back to Home", root_path %>
